/*This is the stylesheet for the Wireframe homework*/

* {
    box-sizing: border-box;
    text-align: center;
  }

body{
    background-color: #aaa;
}

header{
    background-color: #fff;
    padding: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav{
    background-color: pink;
    padding: 25px;
    margin-bottom: 20px;
}

section{
    background-color: aquamarine;
    float: left;
    width: 58%;
    padding-top: 25px;
    margin-bottom: 20px;
    margin-right: 8px;
}

article{
    background-color: yellow;
    margin: 20px;
    padding: 20px;
}

aside{
    background-color: orange;
    float: left;
    width: 40%;
    height: 270px;
    margin-left: 20px;
    padding: 25px;
}

footer{
    padding: 25px;
    background-color: #fff;
    clear: both;
}

/*this is so that the h1, h2, and h3 all show up on the one line*/
h1, h2, h3{
    display: inline;
}

/*adding this because the native h1 styling is being overwritten*/
h1{
    font-size: 2em;
}

.article-content{
    background-color: blanchedalmond;
    padding: 10px;
}



